* {
  --primary-color: #D95E0A;
  --primary-color-dimmed: #F58133;
  --primary-color-light: #FFE3D4;
  --secondary-color: #187E89;
  --secondary-color-dimmed: #20A4B2;
  --secondary-color-light: #D0ECEC;
  --light-color: #FFFDFB;
  --gray-color: #D9D9D9;
  --dark-color: #2c3e50;
}
